---
import BlogLayout from "@layouts/BlogLayout.astro";
---

<BlogLayout title="Metaldev - Web Developer Jr.">
  <h1>Cursos</h1>
</BlogLayout>

<style>
  h1 {
    /* text-align: center; */
  }
</style>
