---
import AboutMe from "@components/home/AboutMe.astro";
import Hero from "@components/home/Hero.astro";
import Projects from "@components/home/Projects.astro";
import Layout from "@layouts/Layout.astro";
import { seoAstro } from "@common/seo/seo";
---

<Layout title={seoAstro.title}>
  <main>
    <Hero />
    <AboutMe />
    <Projects />
    <!-- <Posts /> -->
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: 100vh;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
</style>
